.cc-nav {
    position: fixed;
    width: 100vw;
    z-index: 10;
    background: #05050F;
}
.cc-nav-desktop {
    padding: 1rem 3rem;
    background: #05050F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 15px;
}
.cc-nav-logo {
    display: flex;
    align-items: center;
    text-align: left;
}
.cc-nav-logotxt {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
}
.cc-nav-logotxt sup {
    font-size: 40%;
    top: -1.3em;
}
.cc-nav-list {
    display: flex;
    align-items: center;
}
.cc-nav-list span {
    margin-right: 3rem;
    cursor: pointer;
    transition: 0.3s;
}
.cc-nav-list span:hover {
    transform: scale(1.1);
}
.cc-nav-list button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 44px;
    padding: 5px 2rem;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}
.cc-nav-list button:hover {
    background: #fff;
    color: #000;
}
.cc-nav a {
    color: inherit !important;
    text-decoration: none !important;
}
.cc-nav-mobile {
    display: none;
}
@media(max-width: 1000px) {
    .cc-nav-desktop {
        font-size: 14px;
    }
    .cc-nav-list button {
        font-size: 13px;
    }
}
@media(max-width: 800px) {
    .cc-nav-desktop {
        display: none;
    }
    .cc-nav-mobile {
        display: block;
        padding: 10px 1rem;
        color: #fff;
    }
    .cc-nav-ctrl {
        display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    .cc-nav-mobile-toggle {
        width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    }
    .line1 {
        height: 2px;
        background: #fff;
        width: 50%;
    }
    .line2 {
        height: 2px;
    background: #fff;
    width: 100%;
    }
    .cc-navlist-mobile {
        justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: -2rem;
    font-size: 19px;
    }
    .cc-navlist-mobile > a {
        margin-bottom: 2.5rem;
        width: 100%;
        text-align: center;
    }
    .cc-navlist-mobile button {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
    .cc-nav-list span {
        margin: 0;
    }
}